@charset "utf-8";
.main{
  background: rgb(191, 224, 199);
  min-height: 100vh;
}
.box{
  border: solid 10px rgba(185, 220, 192, 0.65);
}
.hero {
  background: rgb(66, 178, 98)
}

@import "bulma/bulma.sass";